body{
display: flex;
justify-content: center;
align-items: center;
background: rgb(170,254,255);
background: linear-gradient(98deg, rgba(170,254,255,1) 0%, rgba(225,45,253,1) 100%);
}

.taskWrapper{
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

.mainWrapper{
  text-align: center;
}